@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem 2rem;    
    background-color: #FFFCF2;
}

.logo { 
    height: 50px;              
    object-fit: contain; 
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1rem; 

}

.navbar a {
    margin: 0 2rem;        
    text-decoration: none;
    cursor: pointer;
    color: #20193d;          
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s; 
}
  
.navbar a:hover {
    color: #ad83ed;
}
  